node_modules/
*.local

# Compiled JavaScript code (If you are using TypeScript)
lib/

# TypeScript definitions (If you are using TypeScript)
lib.d.ts

# Node Modules (Yes, functions has its own node_modules)
node_modules/

# Local Environment variables
.env
.env.local

# Firebase Runtime Config (Used for local emulator variables)
.runtimeconfig.json